body {
	font-family: Arial, sans-serif;
}

.hidden {
	display: none;
}

button, .button {
	background-color: #eee;
	color: black;
	text-decoration: none;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

input {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 8px;
}

input.error {
	border-color: red;
	background-color: #ffe6e6;
}

form p {
	margin-top: 0px;
}

p.success {
	color: green;
	font-size: 0.9em;
	margin-top: 5px;
}

p.error {
	color: red;
	font-size: 0.9em;
	margin-top: 5px;
}


.task-lists {
	display: grid;
	width: fit-content;
	max-width: 90vw;
	grid-template-columns: 1fr max-content max-content;
	gap: 10px;
}

.task-lists h2 {
	grid-column: 1 / -1;
}

.task-list {
	display: grid;
	grid-column: 1 / -1;
	grid-template-columns: subgrid;
}
